<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap-datetimepicker.min.css"/>
    <script type="text/javascript" src="../../js/jQuery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <script type="text/javascript" src="../../js/Vue.js"></script>
    <script type="text/javascript" src="../../js/axios.js"></script>
    <script type="text/javascript" src="../../js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap-datetimepicker.zh-CN.js"></script>

    <style>
        #msg tr td {
            vertical-align: middle;
        }


    </style>
    <script>
        var i = 0;

        function f1(event) {
            var e = event || window.event;
            if (e && e.keyCode == 13) { // enter 键
                var cardCode = $("#cardCode").val();
                var brxx_idCard = $("#brxx_idCard").val();
                if ((cardCode != null && cardCode != "") || (brxx_idCard != null && brxx_idCard != "")) {
                    $.ajax({
                        type: 'POST',
                        url: '/mzys/selectGHXX',
                        data: {cardCode: cardCode, brxx_idCard: brxx_idCard},
                        cache: false,
                        success: function (str) {
                            var jsonStr = JSON.parse(str);
                            if(jsonStr!=null){
                                document.getElementById("jzbz").value = 1;
                                document.getElementById("brxx").innerText = "病人信息:门诊号："+jsonStr.ghxx_id+"      姓名:" + jsonStr.brxx_name + "      性别:" + jsonStr.brxx_sex + "      年龄:" + jsonStr.brxx_age + "岁      联系电话:" + jsonStr.brxx_phone
                                document.getElementById("brxx_id").value = jsonStr.brxx_id;
                                document.getElementById("ghxx_id").value = jsonStr.ghxx_id;
                            }
                            else{
                                alert("该病人还未挂号，请先挂号后就诊！");
                                return;
                            }

                        }
                    })
                }

            }
        }

        function empty1() {
            document.getElementById("brxx_idCard").value = "";
            document.getElementById("jzbz").value = 0;
            document.getElementById("brxx").innerText = "病人信息:"
            document.getElementById("brxx_id").value = "";
            document.getElementById("ghxx_id").value = "";

        }

        function empty2() {
            document.getElementById("cardCode").value = "";
            document.getElementById("jzbz").value = 0;
            document.getElementById("brxx").innerText = "病人信息:"
            document.getElementById("brxx_id").value = "";
            document.getElementById("ghxx_id").value = "";
        }

        function jiezhen() {
            var jzbz = $("#jzbz").val();
            if (jzbz == 0) {
                alert("还未接诊病人！请在左侧接诊病人后再开立医嘱！");
                return;
            }
            else {
                i++;
                $("#msg").append("" +
                    "<tr id='tr" + i + "' align='center'>" +
                    "<td style='width: 15%'>" +
                    "<input type='text' id='dataTime" + i + "' name='datetimepicker' class='form-control'>" +
                    "</td>" +
                    "<td style='display: none;'>" +
                    "<input id='ggid" + i + "' type='text'  class='form-control'>" +
                    "</td>" +
                    "<td style='width: 15%'>" +
                    "<input id='yppm" + i + "' type='text' onfocus='getName()' class='form-control'>" +
                    "</td>" +
                    "<td style='width: 6%'>" +
                    "<input type='number' min='0' id='ypjl" + i + "' class='form-control'>" +
                    "</td>" +
                    "<td style='width: 5%'>" +
                    "<input id='ypdw" + i + "' class='form-control' readonly='readonly'>" +
                    "</td>" +
                    "<td style='width: 8%'>" +
                    "<select id='pl" + i + "' class='form-control'>" +
                    "<option value='1'>Qd</option>" +
                    "<option value='2'>Bid</option>" +
                    "<option value='3'>Tid</option>" +
                    "</select>" +
                    "</td>" +
                    "<td style='width: 10%'>" +
                    "<input type='text' id='yf" + i + "' class='form-control'>" +
                    "</td>" +
                    "<td style='width: 8%'>" +
                    "<input type='number' min='0' id='ts" + i + "'  class='form-control'>" +
                    "</td>" +
                    "<td style='width: 8%'>" +
                    "<input readonly='readonly' id='ypdj" + i + "' onfocus='getMoney(i)' class='form-control'>" +
                    "</td>" +
                    "<td style='width: 8%'>" +
                    "<input readonly='readonly' id='sum" + i + "' class='form-control'>" +
                    "</td>" +
                    "<td style='width: 7%'>" +
                    "<input readonly='readonly' id='yzzt" + i + "' value='未保存' class='form-control'>" +
                    "</td>" +
                    "<td>" +
                    "<button class='btn btn-primary' onclick='save(" + i + ")'>保存</button>" +
                    "<button class='btn btn-danger' onclick='deleteMsg(" + i + ")' style='margin-left: 1%'>删除</button>" +
                    "</td>" +
                    "</tr>");
                $('#dataTime' + i).datetimepicker({
                    autoclose: true,   //选择后自动关闭当前时间控件
                    forceParse: 0,//设置为0，时间不会跳转1899，会显示当前时间。
                    language: 'zh-CN',//显示中文
                    format: 'yyyy-mm-dd hh:ii:ss',//显示格式
                    minView: "0",//设置只显示到月份
                    initialDate: new Date(),//初始化当前日期
                    todayBtn: true//显示今日按钮
                });
                $('#dataTime' + i).datetimepicker("setDate", new Date());  //设置显示默认当天的时间
            }
        }


        function getName() {
            $("#myModal").modal("show");//打开模态框

            $('#myModal').on('shown.bs.modal', function () {
                $("#myModal #selectInput").focus();//获取焦点
            })
        }

        function getMoney(i) {
            var ypjl = $("#ypjl" + i).val();
            var pc = $("#pl" + i).val();
            var ts = $("#ts" + i).val();
            var dj = $("#ypdj" + i).val();
            var sum = ypjl * pc * ts * dj;
            document.getElementById('sum' + i).value = sum.toFixed(2);
        }


        function deleteMsg(i) {
            if (confirm("您确定要删除该条记录吗？")) {
                $.ajax({
                    type: 'post',
                    url: '/mzys/delete',
                    data: {
                        brxx_id: $("#brxx_id").val(),
                        ghxx_id: $("#ghxx_id").val(),
                        ggid: $("#ggid" + i).val()
                    },
                    success: function (res) {
                        if (JSON.parse(res) == 1) {
                            alert("删除成功！");
                            $('#tr' + i).empty();
                        }
                    }
                })
            }
        }

        function clearAll() {
            if (confirm("您确定要清楚所有记录吗？")) {
                $("#msg tbody tr").eq(0).nextAll().remove();
            }
        }


        function save(i) {
            var ggid = $("#ggid" + i).val();
            var ypjl = $("#ypjl" + i).val();
            var yf = $("#yf" + i).val();
            var ts = $("#ts" + i).val();
            var yzzt = $("#yzzt" + i).val();
            if(ggid==null||ggid==""){
                alert("请输入医嘱内容！");
                getName();
                return;
            }
            if(ypjl==null||ypjl==""){
                alert("请输入剂量！");
                $("#ypjl"+i).focus();
                return;
            }
            if(yf==null||yf==""){
                alert("请输入用法！");
                $("#yf" + i).focus();
                return;
            }
            if(ts==null||ts==""){
                alert("请输入天数！");
                $("#ts" + i).focus();
                return;
            }
            var data = [];
            switch (yzzt) {
                case "未保存":
                    data.push({
                        brxx_id: $("#brxx_id").val(),
                        ghxx_id: $("#ghxx_id").val(),
                        kzsj: $("#dataTime" + i).val(),
                        ggid: $("#ggid" + i).val(),
                        jl: $("#ypjl" + i).val(),
                        dw: $("#ypdw" + i).val(),
                        pc: $("#pl" + i).val(),
                        yf: $("#yf" + i).val(),
                        ts: $("#ts" + i).val(),
                        dj: $("#ypdj" + i).val(),
                        zje: $("#sum" + i).val(),
                    });
                    $.ajax({
                        type: 'post',
                        url: '/mzys/save',
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(data[0]),
                        success: function (res) {
                            if (JSON.parse(res) == 1) {
                                alert("保存成功!");
                                document.getElementById("yzzt" + i).value = "未收费";
                            }
                        }
                    });
                    break;
                case "未收费":
                    if (confirm("您确定要修改已保存的医嘱吗？")) {
                        data.push({
                            brxx_id: $("#brxx_id").val(),
                            ghxx_id: $("#ghxx_id").val(),
                            kzsj: $("#dataTime" + i).val(),
                            ggid: $("#ggid" + i).val(),
                            jl: $("#ypjl" + i).val(),
                            dw: $("#ypdw" + i).val(),
                            pc: $("#pl" + i).val(),
                            yf: $("#yf" + i).val(),
                            ts: $("#ts" + i).val(),
                            dj: $("#ypdj" + i).val(),
                            zje: $("#sum" + i).val(),
                        });
                        $.ajax({
                            type: 'post',
                            url: '/mzys/update',
                            contentType: "application/json;charset=UTF-8",
                            data: JSON.stringify(data[0]),
                            success: function (res) {
                                if (JSON.parse(res) == 1) {
                                    alert("修改成功!");
                                    document.getElementById("yzzt" + i).value = "未收费";
                                }
                            }
                        });
                    }
                    break;
                case "已缴费":
                    alert(3);
                    break;
                default:
                    alert(4);
                    break;
            }


        }


    </script>
</head>
<body>
<div id="main">
    <div style="width: 19%;float: left;">
        <div style="margin-left:  2%">
            <label>
                <font size="+1">病人列表</font>
            </label>
        </div>
        <div style="margin-top: 2%;margin-left: 2%">
            <div class="form-inline">
                <label>病人卡号:</label>
                <input type="number" oninput="empty1()" id="cardCode" class="form-control" onkeypress="f1(event)"/>
            </div>
            <div class="form-inline" style="margin-top: 1%;">
                <label>身份证号:</label>
                <input type="number" oninput="empty2()" id="brxx_idCard" class="form-control" onkeypress="f1(event)"/>
            </div>
        </div>
        <div style="margin-top: 5%;">
            <ul class="nav nav-tabs">
                <li role="presentation" aria-label="Right Align"><a href="#" @click="refresh()">候诊病人列表</a></li>
            </ul>
            <div>
                <div style="height: 200px;overflow :auto;margin-top: 2%;margin: 0px;padding: 0px;">
                    <table class="table table-hover table-bordered" width="100%">
                        <tr align="center">
                            <td>挂号序号</td>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>年龄</td>
                        </tr>
                        <tr align="center" v-for="(bean,index) in waitList" @dblclick='dblClick($event,bean)'>
                            <td style="display: none">{{bean.hjid}}</td>
                            <td>{{index+1}}</td>
                            <td style="display: none">{{bean.brxx_id}}</td>
                            <td style="display: none">{{bean.ghxx_id}}</td>
                            <td>{{bean.brxx_name}}</td>
                            <td>{{bean.brxx_sex}}</td>
                            <td>{{bean.brxx_age}}</td>
                        </tr>

                    </table>
                </div>
                <div style="margin-top: 5%;">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="#" @click="now()">就诊病人列表</a></li>
                    </ul>
                </div>
                <div style="height: 200px;overflow :auto;margin-top: 2%;margin: 0px;padding: 0px;">
                    <table class="table table-hover table-bordered">
                        <tr align="center">
                            <td>接诊医生</td>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>年龄</td>
                        </tr>
                        <tr align="center" v-for="(bean,index) in nowList">
                            <td style="display: none">{{bean.hjid}}</td>
                            <td>{{index+1}}</td>
                            <td>{{bean.brxx_name}}</td>
                            <td>{{bean.brxx_sex}}</td>
                            <td>{{bean.brxx_age}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 80%;margin-left: 20%;">
        <div>
            <font size="+1" id="brxx">病人信息: </font>
            <input type="hidden" id="jzbz" value="0">
        </div>
        <div style="margin-top: 1%;">
            <button type="button" class="btn btn-default" onclick="jiezhen()">
                新开医嘱
            </button>
            <button type="button" style="display: none" class="btn btn-default" id="modelBtn" data-toggle="modal"
                    data-target="#myModal">
            </button>
            <button type="button" onclick="clearAll()" class="btn btn-default">清屏</button>
        </div>
        <table id="msg" class="table table-striped table-hover" style="margin-top: 2%">
            <tr align="center">
                <td>开嘱时间</td>
                <td>医嘱内容</td>
                <td>剂量</td>
                <td>单位</td>
                <td>频次</td>
                <td>用法</td>
                <td>天数</td>
                <td>单价</td>
                <td>总金额</td>
                <td>医嘱状态</td>
                <td>操作</td>
            </tr>
        </table>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="width: 1000px;">
                <div class="modal-content">
                    <form>
                        <input type="hidden" id="brxx_id">
                        <input type="hidden" id="ghxx_id">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">新开医嘱</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" autofocus="autofocus" class="form-control" id="selectInput"
                                   @input="getMsg()" width="100%">
                            <table class="table table-striped table-hover" width="100%">
                                <tr align="center">
                                    <td>医嘱内容</td>
                                    <td>规格</td>
                                    <td>单价</td>
                                    <td>单位</td>
                                    <td>库存</td>
                                    <td>执行科室</td>
                                    <td>厂家</td>
                                </tr>
                                <tr align="center" v-for="(bean,index) in YPList" @click='insert($event,bean,index+1)'>
                                    <td style="display: none;">{{bean.ggid}}</td>
                                    <td>{{bean.yppm}}</td>
                                    <td>{{bean.ypgg}}</td>
                                    <td>{{bean.ypdj}}</td>
                                    <td>{{bean.ypdw}}</td>
                                    <td>{{bean.ypkc}}</td>
                                    <td>{{bean.zxks}}</td>
                                    <td>{{bean.sccj}}</td>
                                </tr>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" style="width: 49%" class="btn btn-primary">插入
                            </button>
                            <button type="reset" style="width: 49%" class="btn btn-warning">重置</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var vm = new Vue({
        el: '#main',
        data: {
            params: '',
            name: '',
            YPList: [],
            waitList: [],
            nowList: []
        },
        methods: {
            now: function () {
                axios.post('/mzys/nowList').then(function (res) {
                    vm.nowList = res.data;
                });
            },
            refresh: function () {
                axios.post('/mzys/waitList').then(function (res) {
                    vm.waitList = res.data;
                });
            },
            getMsg: function () {
                var name = $("#selectInput").val();
                axios.post('/mzys/getMsg', {param: name}).then(function (res) {
                    vm.YPList = res.data;
                })
            },
            insert: function ($event, bean) {
                document.getElementById("ggid" + i).value = bean.ggid.toString();
                document.getElementById("ypdw" + i).value = bean.ypdw.toString();
                document.getElementById("ypdj" + i).value = bean.ypdj.toString();
                document.getElementById("yppm" + i).value = bean.yppm.toString();
                document.getElementById("selectInput").value = "";
                $("#myModal").click();
            },
            dblClick: function ($event, bean) {
                if (confirm('您确定要接诊该病人吗？')) {
                    document.getElementById("jzbz").value = 1;
                    document.getElementById("brxx").innerText = "病人信息:      门诊号:"+bean.ghxx_id+"            姓名:" + bean.brxx_name + "      性别:" + bean.brxx_sex + "      年龄:" + bean.brxx_age + "岁      联系电话:" + bean.brxx_phone
                    document.getElementById("brxx_id").value = bean.brxx_id;
                    document.getElementById("ghxx_id").value = bean.ghxx_id;
                    var hjid = bean.hjid;
                    axios.post('/mzys/updateBRZT', {bz: 1, hjid: hjid}).then(function (value) {
                        if (value.data == 1) {
                            axios.post('/mzys/waitList').then(function (res) {
                                vm.waitList = res.data;
                            });
                            axios.post('/mzys/nowList').then(function (res) {
                                vm.nowList = res.data;
                            });

                        }
                    });
                }
            }
        },
        created() {
            axios.post('/mzys/waitList').then(function (res) {
                vm.waitList = res.data;
            });
            axios.post('/mzys/nowList').then(function (res) {
                vm.nowList = res.data;
            })
        }
    })
</script>
