<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magneto.his.mapper.MZYSMapper">


    <select id="getMsg" resultType="com.magneto.his.domain.MZYS_SelectMsgReturnPojo">
        select ggid,yppm,pym,ypgg,ypdj,ypdw,ypkc,fun_getDeptName(zxks) zxks,sccj from yf_ypxx where pym like concat('%',#{name},'%')
    </select>


    <select id="waitList" resultType="com.magneto.his.domain.YY_BRXX">
        select hjid,a.brxx_id,ghxx_id,b.brxx_name,brxx_sex,brxx_age,brxx_phone from mz_hjb a left join yy_brxx b on a.brxx_id = b.brxx_id where ghbz = 1 and ksdm = #{deptId} and brzt = 0
    </select>


    <select id="nowList" resultType="com.magneto.his.domain.YY_BRXX">
        select hjid,b.brxx_name,brxx_sex,brxx_age,brxx_phone from mz_hjb a left join yy_brxx b on a.brxx_id = b.brxx_id where ghbz = 1 and ksdm = #{deptId} and brzt = 1
    </select>


    <update id="updateBRZT">
        update mz_hjb set brzt = #{bz} where hjid = #{hjid}
    </update>


    <insert id="save">
      insert into mz_cfb values(DEFAULT,#{brxx_id},#{ghxx_id},#{kzsj},#{ggid},#{jl},#{dw},#{pc},#{yf},#{ts},#{dj},#{zje},'未收费')
    </insert>

    <select id="selectGHXX" resultType="com.magneto.his.domain.YY_BRXX">
        select a.brxx_id,ghxx_id,brxx_name,brxx_sex,brxx_age,brxx_phone from mz_ghxx a left join yy_brxx b on a.brxx_id
        = b.brxx_id left join yy_kdjb c on b.brxx_id = c.brxx_id
        <where>
            <if test="brxx_idCard != null and brxx_idCard != ''">
                and brxx_idCard = #{brxx_idCard}
            </if>
            <if test="cardCode != null and cardCode != 0">
                and cardCode = #{cardCode}
            </if>
        </where>
        order by c.registrationTime desc limit 0,1
    </select>


    <update id="update">
        update mz_cfb set kzsj = #{kzsj},jl=#{jl},pc=#{pc},yf=#{yf},ts=#{ts},zje = #{zje} where brxx_id = #{brxx_id} and ghxx_id = #{ghxx_id} and ggid = #{ggid}
    </update>


    <delete id="delete">
        delete from mz_cfb where brxx_id = #{brxx_id} and ghxx_id = #{ghxx_id} and ggid = #{ggid}
    </delete>


</mapper>