<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magneto.his.mapper.YY_BRXXMapper">
    <insert id="insertBRXX">
        insert into yy_brxx values (default ,#{brxx_name},#{brxx_sex},#{brxx_phone},#{brxx_birth},#{brxx_CardCode},#{brxx_registrationTime})
    </insert>

    <select id="selectBRXX" resultType="com.magneto.his.domain.YY_BRXX">
        select * from yy_brxx
    </select>
</mapper>